.Buttons button{
    font-size: 16px;
    border-radius: 11px;
    background-color: #d9e6eb;
    border-color: #b4c1c6;
}
.Buttons button:hover{
    background-color: #bbc9ce;
}
img{
    width: 400px;
    height: auto;
}
p{
    max-width: 400;
}
.Allgemein{
    display: flex;
}
.Sensoren{
    display: flex;
}
#Dribbler.AllgemeinRobot{
    padding-top: 35px;
    padding-left: 85px;
}
#Kompasssensor{
    padding-left: 85px;
}
#Ballsensor{
    padding-left: 85px;
}