.MainNav button{
    font-size: 19px;
    border-radius: 11px;
    background-color: #d9e6eb;
    border-color: #d9e6eb;
    transition: 0.5s;
}
.MainNav button:hover{
    background-color: #bbc9ce;
}
img{
    width: 400px;
    height: auto;
}
p{
    font-size: 17px;
    max-width: 400;
    font-family: "Quicksand", sans-serif;
}
.Allgemein{
    display: flex;
}
.Sensoren{
    display: flex;
}
#Dribbler.AllgemeinRobot{
    padding-top: 35px;
    padding-left: 85px;
}
#Kompasssensor{
    padding-left: 85px;
}
#Ballsensor{
    padding-left: 85px;
}
body{
    margin: 0px;
    background-color: rgb(217, 223, 235);
}
img{
    border-radius: 30px;
    -webkit-filter: drop-shadow(0px 16px 10px rgba(35, 36, 38, 0.6));
    -moz-filter: drop-shadow(0px 16px 10px rgba(35, 36, 38, 0.6));
    -ms-filter: drop-shadow(0px 16px 10px rgba(35, 36, 38, 0.6)); 
    -o-filter: drop-shadow(0px 16px 10px rgba(35, 36, 38, 0.6));
     filter: drop-shadow(0px 16px 10px rgba(35, 36, 38, 0.6)); 
    }
#credits{
    font-size: 8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.MainNav{
    border-radius: 3px;
    padding: 10px;
    background-color: rgb(204, 209, 220);
}
#Allgemein{
    border-radius: 10px;
    background-color: #9dafb5;
    padding-left: 12px;
}
#Sensoren{
    padding-left: 12px;
    border-radius: 10px;
    background-color: #9dafb5;
}
.Headers{
    font-family: "Quicksand", sans-serif;
}
#WappenUTeam{
    display:flex;
    padding-left: 12px;
    border-radius: 10px;
    background-color: #829398;
}
#Wappen{
    padding-left: 90%;
}