:root{
    --light_button: #aab5ba;
    --light_button_hover: #6c7b80;
    --light_navigation_background: #c3cfd2;
    --light_container_background: #9dafb5;
    --light_container_background_hover: #75858b;
    --light_body_background: #d9dfeb;
}

.MainNav button{
    font-size: 19px;
    border-radius: 30px;
    background-color: var(--light_button);
    border-width: 0px;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 20px;
}
#Team{
    margin-left: 0px;
}
.MainNav button:hover{
    background-color: var(--light_button_hover);
}
img{
    width: 400px;
    height: auto;
}
p{
    font-size: 17px;
    max-width: 400;
    font-family: "Quicksand", sans-serif;
}
.Allgemein{
    display: flex;
}
.Sensoren{
    display: flex;
}
#Dribbler.AllgemeinRobot{
    padding-top: 35px;
    padding-left: 85px;
}
#Kompasssensor{
    padding-left: 85px;
}
#Ballsensor{
    padding-left: 85px;
}
body{
    margin: 0px;
    background-color: var(--light_body_background);
}
img{
    border-radius: 30px;
    -webkit-filter: drop-shadow(0px 16px 10px rgba(35, 36, 38, 0.6));
    -moz-filter: drop-shadow(0px 16px 10px rgba(35, 36, 38, 0.6));
    -ms-filter: drop-shadow(0px 16px 10px rgba(35, 36, 38, 0.6)); 
    -o-filter: drop-shadow(0px 16px 10px rgba(35, 36, 38, 0.6));
     filter: drop-shadow(0px 16px 10px rgba(35, 36, 38, 0.6)); 
    }
#credits{
    font-size: 8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.MainNav{
    border-radius: 3px;
    padding: 10px;
    background-color: var(--light_navigation_background);
}
#Allgemein{
    border-radius: 10px;
    background-color: var(--light_container_background);
    padding-left: 12px;
    transition: 0.5s;
}
#Allgemein:hover{
    background-color: var(--light_container_background_hover);
}
#Sensoren{
    padding-left: 12px;
    border-radius: 10px;
    background-color: var(--light_container_background);
    transition: 0.5s;
}
#Sensoren:hover{
    background-color: var(--light_container_background_hover);
}
.Headers{
    font-family: "Quicksand", sans-serif;
}
#WappenUTeam{
    display:flex;
    padding-left: 12px;
    border-radius: 10px;
    background-color: var(--light_container_background);
    transition: 0.5s
}
#WappenUTeam:hover{
    background-color: var(--light_container_background_hover);
}
#Wappen{
    padding-left: 90%;
}